:root {
	--outlined: 1px dotted rgba(255, 255, 255, 0.2); // chrome issues ???
}
*,
::before,
::after {
	margin: 0;
	padding: 0;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	box-sizing: border-box;
}
body {
	overflow: hidden;
	color: white;
}
