:root {
	--outlined: 1px dotted rgba(255, 255, 255, 0.2); // chrome issues ???
}
*,
::before,
::after {
	margin: 0;
	padding: 0;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
	box-sizing: border-box;
	font-size: calc(1rem + (0.5vw));
}
img {
	max-width: 100%;
}
@font-face {
	font-family: "quikhand";
	src: url("../fonts/quikhand/Quikhand.ttf") format("truetype");
}
body {
	overflow: hidden;
	color: rgb(255, 255, 255);
	// background-color: rgb(90, 19, 19);
	background-color: black;
	width: 100vw;
	height: 100vh;
	font-family: quikhand;
	letter-spacing: 0.2rem;
	.remove {
		position: relative;
		pointer-events: none;
		width: max-content;
		* {
			font-size: 1rem;
		}
	}
}
.shadow {
	box-shadow: 0px 0px 3px rgb(24, 19, 19);
}
#pause {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	display: none;
	&.active {
		display: initial;
	}
}
