:root {
  --outlined: 1px dotted rgba(255, 255, 255, 0.2);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: quikhand;
  letter-spacing: calc(0.2rem + (0.5vw / 5));
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "quikhand";
  src: url("../fonts/quikhand/Quikhand.ttf") format("truetype");
}

body {
  overflow: hidden;
  color: white;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

body .remove {
  top: 0.5rem;
  left: 0.5rem;
  position: relative;
  pointer-events: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body .remove * {
  font-size: calc(1rem + (0.5vw));
}

.shadow {
  -webkit-box-shadow: 0px 0px 3px #181313;
          box-shadow: 0px 0px 3px #181313;
}

#pause {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: none;
  font-size: calc(1rem + (0.5vw));
}

#pause.active {
  display: initial;
}

#contextmenu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom-color: #52505e;
  background-color: #93929b;
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
  z-index: 99999;
}

#contextmenu ol,
#contextmenu ul,
#contextmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
  font-family: monospace;
}

#contextmenu ul.lv1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #93929b;
  border-bottom: 1px solid black;
}

#contextmenu ul.lv1 li.lv1 {
  position: relative;
  padding: 0.2rem;
}

#contextmenu ul.lv1 li.lv1[data] {
  padding: 0.2rem 1rem 0.2rem 0.2rem;
}

#contextmenu ul.lv1 li.lv1[data]:before {
  position: absolute;
  right: 0.2rem;
  content: "+";
}

#contextmenu ul.lv1 li.lv1 ul.lv2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  opacity: 0;
  top: 100%;
  z-index: -1000;
}

#contextmenu ul.lv1 li.lv1 ul.lv2 li.lv2 {
  background-color: #1313e6;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  cursor: pointer;
  padding: 0;
}

#contextmenu ul.lv1 li.lv1 ul.lv2 li.lv2[mos-current] {
  background-color: #a75e00;
}

#contextmenu ul.lv1 li.lv1 ul.lv2 li.lv2[mos-current]:before {
  position: absolute;
  left: 0%;
  content: ">";
}

#contextmenu ul.lv1 li.lv1 ul.lv2 li.lv2:hover {
  background-color: #040425;
}

#contextmenu ul.lv1 li.lv1:hover ul.lv2 {
  opacity: 1;
}

#contextmenu ul.lv1 li.lv1:hover ul.lv2 li.lv2 {
  padding: 0.5rem;
  -webkit-transition: opacity 0s ease;
  transition: opacity 0s ease;
}

@media screen and (max-width: 900px) {
  #contextmenu ul.lv2 {
    right: 0%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: blue;
  }
  #contextmenu ul.lv2 li.lv2 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: #66ff00;
  }
}
/*# sourceMappingURL=base.css.map */