#sheet {
	position: absolute;
	width: max-content;
	max-height: 90%;
	height: 70%;
	width: 50%;
	top: 50%;
	left: 50%;
	overflow-y: auto;
	transform: translate(-50%, -50%);
	// margin: auto auto;
	background-color: rgba(255, 255, 255, 0.315);
	display: flex;
	justify-content: center;
	// align-items: center;
	// border: 5px solid rgb(0, 0, 0);
	// box-shadow: 0px 0px 20px rgb(24, 19, 19);
	color: black;
	padding: 0.5rem;
	display: none;
	border-radius: 0.5rem;
	* {
		// font-size: 0.2rem;
		line-height: unset;
	}
	&.active {
		display: initial;
	}
	.sheet-lists {
		.sheet-stats {
			.sheet-part {
				padding: 0.5rem;
				background-color: rgba(6, 2, 31, 0.274);
				border-radius: 0.5rem;
				margin-bottom: 1rem;
				.sheet-skins-item,
				.sheet-stats-item {
					width: 100%;
					margin-top: 0.6vh;
					border-radius: 0.5rem;
					overflow: hidden;
					border: 1px solid rgb(0, 0, 0);
					background-color: rgba(0, 0, 0, 0.466);
					&:last-child {
						margin-bottom: 0.8vh;
					}
					.ico {
						background-color: rgba(0, 0, 0, 0.589);
						grid-column: 1 / 1;
						grid-row: 1;
						display: flex;
						justify-content: center;
						align-items: center;
						// font-size: 1rem;
						padding: 0 0.1rem;
					}
					.jauge {
						position: relative;
						// 	width: 100%;
						display: flex;
						justify-content: start;
						align-items: center;
						// 	// background-color: rgb(17, 80, 31);
						// 	height: 100%;
						background-color: rgba(44, 8, 8, 0.438);
						grid-column: 2 / 3;
						grid-row: 1;
						.range {
							position: relative;
							// background-color: rgb(252, 0, 189);
							// font-size: calc(1rem + (0.5vw));
							// line-height: calc(1rem + (0.5vw));
							background-color: rgba(21, 255, 0, 0.534);
							// height: 100%;
							height: 100%;
							left: 0px;
						}
						.stat {
							position: absolute;
							color: white;
							padding-left: 0.2rem;
							overflow: hidden;
						}
						.name {
							position: absolute;
							right: 0px;
							color: white;
						}
					}
					.statplus {
						display: flex;
						align-items: center;
						// // background-color: rgb(17, 80, 31);
						background-color: rgba(255, 255, 255, 0.733);
						grid-column: 4 / 4;
						grid-row: 1;
						padding: 0 0.5rem;
						font-weight: 900;
						// border-top-right-radius: 0.5rem;
						// border-bottom-right-radius: 0.5rem;
					}
					.statminus {
						display: flex;
						align-items: center;
						background-color: rgba(255, 255, 255, 0.733);
						grid-column: 1 / 1;
						grid-row: 1;
						padding: 0 0.5rem;
						font-weight: 900;
					}
				}
				.sheet-stats-item {
					display: grid;
					grid-template-columns: auto 4fr auto;
					grid-gap: 0px;
				}
				.sheet-skins-item {
					display: grid;
					grid-template-columns: auto 1fr auto;
					grid-gap: 0px;
				}

				.sheet-title {
					text-align: center;
					color: white;
					text-transform: uppercase;
				}
				&.part-avatar {
					color: white;
					text-transform: uppercase;
					// width: min-content;
					// margin-left: auto;
					// margin-right: auto;
					.sheet-avatar {
						font-size: 6rem;
						text-align: center;
					}
					.sheet-name {
						position: relative;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						// width: min-content;
						.sheet-name-input {
							// background-color: unset;
							position: relative;
							background-color: unset;
							color: white;
							text-transform: uppercase;
							user-select: initial;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							text-align: center;
							border: none;
						}
						&.changeonce {
							&:hover {
								&:before {
									position: absolute;
									top: 110%;
									left: 0%;
									width: 100%;
									content: "Watch Out ! You can't change this Twice !!!";
									z-index: 999999999999;
									background-color: rgba(12, 9, 27, 0.692);
									border-radius: 0.5rem;
									padding: 0.5rem;
									text-align: center;
								}
							}
						}
					}
				}
			}
		}
	}
}
#displayparts {
	position: absolute;
	top: calc(2rem + (0.5vw));
	right: 0.5rem;
	// width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	#displaydheet {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 3rem;
		height: 3rem;
		background-color: rgba(255, 255, 255, 0.274);
		border-radius: 0.5rem;
		overflow: hidden;
	}
}
.golden {
	border-radius: 1rem;
	background: linear-gradient(-45deg, #00000000, #00000000, #00000000, #00000000, #00000000, #fbff003b, #00000000);
	background-size: 400% 200%;
	animation: 1s ease-in 0s infinite gold;
	background-position: -100% 50%;
}
@keyframes gold {
	0% {
		background-position: 200% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
