#sheet {
	position: absolute;
	width: max-content;
	height: 90%;
	width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// margin: auto auto;
	background-color: rgba(255, 255, 255, 0.856);
	display: flex;
	justify-content: center;
	// align-items: center;
	// border: 5px solid rgb(0, 0, 0);
	// box-shadow: 0px 0px 20px rgb(24, 19, 19);
	color: black;
	padding: 0.5rem;
	display: none;
	border-radius: 0.5rem;
	&.active {
		display: initial;
	}
	.sheet-part {
		.sheet-title {
			background-color: rgb(0, 252, 126);
		}
		.sheet-stats {
			background-color: rgba(0, 0, 0, 0.068);
			.sheet-stats-item {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				height: calc(1rem + (1vw));
				.ico {
					display: flex;
					justify-content: center;
					align-items: center;
					// background-color: rgb(252, 0, 189);
					width: calc(1rem + (1vw));
					height: calc(1rem + (1vw));
					font-size: calc(1rem + (0.2vw));
					line-height: calc(1rem + (0.2vw));
					padding: 0.1rem;
				}
				.jauge {
					width: 100%;
					display: flex;
					justify-content: start;
					align-items: center;
					// background-color: rgb(17, 80, 31);
					.stat {
						// background-color: rgb(252, 0, 189);
						font-size: calc(1rem + (0.5vw));
						line-height: calc(1rem + (0.5vw));
					}
				}
			}
		}
	}
}
