#sheet {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-height: 90%;
  height: 70%;
  width: 50%;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.315);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  padding: 0.5rem;
  display: none;
  border-radius: 0.5rem;
}

#sheet * {
  line-height: unset;
}

#sheet.active {
  display: initial;
}

#sheet .sheet-lists .sheet-stats .sheet-part {
  padding: 0.5rem;
  background-color: rgba(6, 2, 31, 0.274);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

#sheet .sheet-lists .sheet-stats .sheet-part .sheet-skins-item,
#sheet .sheet-lists .sheet-stats .sheet-part .sheet-stats-item {
  width: 100%;
  margin-top: 0.6vh;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.466);
}

#sheet .sheet-lists .sheet-stats .sheet-part .sheet-skins-item:last-child,
#sheet .sheet-lists .sheet-stats .sheet-part .sheet-stats-item:last-child {
  margin-bottom: 0.8vh;
}

#sheet .sheet-lists .sheet-stats .sheet-part .sheet-skins-item .ico,
#sheet .sheet-lists .sheet-stats .sheet-part .sheet-stats-item .ico {
  background-color: rgba(0, 0, 0, 0.589);
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.1rem;
}

#sheet .sheet-lists .sheet-stats .sheet-part .sheet-skins-item .jauge,
#sheet .sheet-lists .sheet-stats .sheet-part .sheet-stats-item .jauge {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(44, 8, 8, 0.438);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

#sheet .sheet-lists .sheet-stats .sheet-part .sheet-skins-item .jauge .range,
#sheet .sheet-lists .sheet-stats .sheet-part .sheet-stats-item .jauge .range {
  position: relative;
  background-color: rgba(21, 255, 0, 0.534);
  height: 100%;
  left: 0px;
}

#sheet .sheet-lists .sheet-stats .sheet-part .sheet-skins-item .jauge .stat,
#sheet .sheet-lists .sheet-stats .sheet-part .sheet-stats-item .jauge .stat {
  position: absolute;
  color: white;
  padding-left: 0.2rem;
  overflow: hidden;
}

#sheet .sheet-lists .sheet-stats .sheet-part .sheet-skins-item .jauge .name,
#sheet .sheet-lists .sheet-stats .sheet-part .sheet-stats-item .jauge .name {
  position: absolute;
  right: 0px;
  color: white;
}

#sheet .sheet-lists .sheet-stats .sheet-part .sheet-skins-item .statplus,
#sheet .sheet-lists .sheet-stats .sheet-part .sheet-stats-item .statplus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.733);
  -ms-grid-column: 4;
  grid-column: 4 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
  padding: 0 0.5rem;
  font-weight: 900;
}

#sheet .sheet-lists .sheet-stats .sheet-part .sheet-skins-item .statminus,
#sheet .sheet-lists .sheet-stats .sheet-part .sheet-stats-item .statminus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.733);
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1;
  padding: 0 0.5rem;
  font-weight: 900;
}

#sheet .sheet-lists .sheet-stats .sheet-part .sheet-stats-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 4fr auto;
      grid-template-columns: auto 4fr auto;
  grid-gap: 0px;
}

#sheet .sheet-lists .sheet-stats .sheet-part .sheet-skins-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-gap: 0px;
}

#sheet .sheet-lists .sheet-stats .sheet-part .sheet-title {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

#sheet .sheet-lists .sheet-stats .sheet-part.part-avatar {
  color: white;
  text-transform: uppercase;
}

#sheet .sheet-lists .sheet-stats .sheet-part.part-avatar .sheet-avatar {
  font-size: 6rem;
  text-align: center;
}

#sheet .sheet-lists .sheet-stats .sheet-part.part-avatar .sheet-name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sheet .sheet-lists .sheet-stats .sheet-part.part-avatar .sheet-name .sheet-name-input {
  position: relative;
  background-color: unset;
  color: white;
  text-transform: uppercase;
  -webkit-user-select: initial;
     -moz-user-select: initial;
      -ms-user-select: initial;
          user-select: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
}

#sheet .sheet-lists .sheet-stats .sheet-part.part-avatar .sheet-name.changeonce:hover:before {
  position: absolute;
  top: 110%;
  left: 0%;
  width: 100%;
  content: "Watch Out ! You can't change this Twice !!!";
  z-index: 999999999999;
  background-color: rgba(12, 9, 27, 0.692);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

#displayparts {
  position: absolute;
  top: calc(2rem + (0.5vw));
  right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#displayparts #displaysheet {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(2rem + (0.5vw));
  line-height: calc(2rem + (0.5vw));
  border-radius: 50%;
  text-shadow: 0px 0px 20px chartreuse;
}

#displayparts #displaysheet:hover {
  color: black;
  text-shadow: 0px 0px 20px white;
}

.golden {
  border-radius: 1rem;
  background: linear-gradient(-45deg, #00000000, #00000000, #00000000, #00000000, #00000000, #fbff003b, #00000000);
  background-size: 400% 200%;
  -webkit-animation: 1s ease-in 0s infinite gold;
          animation: 1s ease-in 0s infinite gold;
  background-position: -100% 50%;
}

@-webkit-keyframes gold {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes gold {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/*# sourceMappingURL=player.css.map */